{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
<!--<div style="width:80em; margin:20px; padding:10px; 
            border:1px solid black;">-->
<div class="container">
    {% if process_uuid %}
    <h2>Progress</h2>
    <textarea id="logging_textarea" name="logging" rows=24 cols=80>
{{ text_area_content }}
    </textarea>
    <br/>
    <script>
        var box = $("textarea[name=logging]");
        
        source.onmessage = function(e) {
            var logs = box.val();
            box.val(logs + '\n' + e.data);
            logging_textarea = document.getElementById("logging_textarea");
            logging_textarea.scrollTop = logging_textarea.scrollHeight;
        }

        source.addEventListener('finish', function(e) {
            //document.getElementById("plot_button").disabled = false;
            source.close();
            document.getElementById("log_input").value = box.val();
            document.getElementById("plot").submit();
        }, false);
    </script>
    <br/>
    <form id="plot" action="{{ url_for('plot') }}" method="post">
        <input type="hidden" name="process_uuid" value="{{ process_uuid }}">
        <input id="log_input" type="hidden" name="progress_log" value="">
        <!--<div class="form-group">
            <input id="plot_button" type="submit" class="btn btn-default" 
             value="Plot spectral networks" disabled="true">
        </div>-->
    </form>
    {% endif %}
    {% include "config_form.html" %}
    <form action="" class="form-horizontal" 
     method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-xs-3">
                <label for="config_file" class="control-label">
                    Or choose a configuration file to load.
                </label>
                <input type="file" 
                 name="config_file" id="config_file">
            </div>
            <div class="col-xs-4">
                <input type="submit" class="btn btn-default"
                 id="load_config_button"
                 formaction="" value="Load configuration">
                <input type="submit" class="btn btn-default"
                 id="save_config_button"
                 form="config_form" formaction="{{ url_for('save_config') }}"
                 value="Save configuration">
            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="col-xs-2">
            <input type="submit" class="btn btn-default" form="config_form" 
             value="Generate spectral networks">
        </div>
    </form>
    <br/>
</div>
<br/>
{% endblock %}
