    <h2>Configuration</h2>
    <p>Please visit <a href="http://github.com/chan-y-park/loom/blob/master/README.md#configuration-page" target="_blank">the how-to page</a> for help.</p>
    <form action="" class="form-horizontal" id="config_form" method="post">
        <div class="form-group">
            <div class="col-xs-2">
                <label for="type_radio" class="control-label">
                    Lie algebra type
                </label>
            </div>
            <div class="col-xs-2">
                <label class="radio-inline">
                    <input type="radio" 
                     name="type" id="type_radio" value="A"
                     {% if loom_config['root_system'][0] == 'A' %}
                     checked
                     {% endif %}
                     >A
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="type_radio" value="D"
                     {% if loom_config['root_system'][0] == 'D' %}
                     checked
                     {% endif %}
                     >D
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="type_radio" value="E" 
                     {% if loom_config['root_system'][0] == 'E' %}
                     checked
                     {% endif %}
                     >E
                </label>
            </div>
            <div class="col-xs-1">
                <label for="rank_text" class="control-label">rank</label>
            </div>
            <div class="col-xs-1">
                <input type="text" class="form-control"
                 name="rank" id="rank_text"
                 value="{{ loom_config['root_system'][1:] }}">
            </div>
            <div class="col-xs-2">
                <label for="representation_text" class="control-label">
                    representation
                </label>
            </div>
            <div class="col-xs-1">
                <input type="text" class="form-control"
                 name="representation" id="representation_text"
                 value="{{ loom_config['representation']}}">
            </div>
        </div>
{% for row in config_options %}
    {% for option in row %}
        <div class="form-group">
            <div class="col-xs-3">
                <label for="{{ option }}_text" class="control-label">
                    {{ loom_config.get_label(option) }}
                </label>
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control"
                 name="{{ option }}" id="{{ option }}_text"
                 value="{{ loom_config[option] }}">
            </div>
        </div>
    {% endfor %}
{% endfor %}
        <input type="hidden" name="n_processes" 
        {% if n_processes is not none %}
         value="{{ n_processes }}"
        {% else %}
         value="4"
        {% endif %}
        >
        <input type='button' id='hideshow' value='Show/hide advanced options'>
        <div id="advanced_config_options">
{% for row in advanced_config_options %}
    {% for option in row %}
        <div class="form-group">
            <div class="col-xs-3">
                <label for="{{ option }}_text" class="control-label">
                    {{ loom_config.get_label(option) }}
                </label>
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control"
                 name="{{ option }}" id="{{ option }}_text"
                 value="{{ loom_config[option] }}">
            </div>
        </div>
    {% endfor %}
{% endfor %}
        </div>
        <script>jQuery('#advanced_config_options').toggle('show');</script>
    </form>

