{% extends "layout.html" %}
{% block body %}
<div style="width:800px; margin:20px 20px 20px 20px">
    <p><code>loom</code> generates a spectral network in a representation of \(\mathfrak{g} = \mathrm{A}_n, \mathrm{D}_n, \mathrm{E}_6\), or \(\mathrm{E}_7\). For more detail, see
        <ul>
            <li> <a href=http://arxiv.org/abs/arXiv:1204.4824>Spectral networks [Gaiotto, Moore, Neitzke (2012)]</a>
            <li> <a href=http://arxiv.org/abs/arXiv:1601.02633>ADE Spectral Networks [Longhi, Park (2016)]</a>
        </ul>
    </p>
    <p><code>loom</code> is an open-source project. </p>
    <p>The source code of <code>loom</code> can be found at <a href=https://github.com/chan-y-park/loom>https://github.com/chan-y-park/loom</a>.</p>
    <p>List of contributors to <code>loom</code> in the order of the date of their first contribution:
        <ul>
{% for name in loom_contributors %}
            <li>{{ name  }}</li>
{% endfor %}
        </ul>
    </p>
    <p>If you have any question using this website and/or <code>loom</code>, please contact one of the contributors or post it on <a href="https://github.com/chan-y-park/loom/issues">the GitHub issues page</a>. 
    </p>

    <h2>How to use <code>loom</code> using a web user interface</h2>
    <ul>
    	<li>We recommend using Mozilla Firefox or Google Chrome for best experience. Microsoft Internet Explorer is not supported.</li>
        <li>See <a href="https://github.com/chan-y-park/loom/blob/master/README.md#how-to-use-loom-web-ui" target="_blank">How to use <code>loom</code> web UI </a> for a detailed guide.</li>
        <li>Go to the <a href="{{ url_for('config') }}">configuration page</a>
            to generate spectral networks.</li>
        <li>In the <a href="{{ url_for('config') }}">configuration page</a> 
            input the data for a 4d \(\mathcal{N} = 2\) class \(\mathcal{S}\)
            theory to study.</li>
        <li><code>loom</code> will grow each \(\mathcal{S}\)-wall by producing data points as many as
        	(number of steps) \(\times\) (number of iterations).
        	<code>loom</code> stops growing an S-wall when it either reaches the maximum number
        	of data points or when the S-wall reaches the mass limit.</li>
        <li>When given a single phase (in radian), <code>loom</code> generates a single spectral network.
        	To generate a family of spectral network, input
        	[(start phase), (end phase), (number of phase)].</li>
        <li>Configuration data can be saved as a file, which can be loaded
            at the <a href="{{ url_for('config') }}">configuration page</a>.
            </li>
        <li>After having a configuration ready, click 
            "Generate spectral networks" button, which will show the progress
            of generating spectral networks.</li>
        <li>"Plot spectral networks" button will be activated when the data
            is ready. Click the button and wait for a few moment, which can
            take from a few seconds to a few minutes according to the size
            of the data and the internet speed.</li>
        <li>In the plot page, you can download the data and the plot
            by clicking "Download data" and "Download plot" buttons.</li>
    </ul>

    <h2>Examples of spectral networks</h2>
    <ul>
        <li><a href="{{ url_for('plot') }}?data=pure_SU_2">Pure \(\mathrm{SU}(2)\) gauge theory at the origin of the Coulomb branch</a>
        <br/><img src="static/pure_SU_2.png" height=200 width=200>
        <li><a href="{{ url_for('plot') }}?data=pure_SU_3">Pure \(\mathrm{SU}(3)\) gauge theory at the origin of the Coulomb branch</a>
        <br/><img src="static/pure_SU_3.png" height=200 width=200>
        <li><a href="/html/SO_8_semiclassical.html">Semiclassical limit of pure \(\mathrm{SO}(8)\) gauge theory</a>
        <br/><img src="static/SO_8_semiclassical.png" height=200 width=200>
        <li><a href="{{ url_for('plot') }}?data=AD_from_pure_SU_3">An Argyres-Douglas fixed point theory from pure \(\mathrm{SU}(3)\) gauge theory, with the minimal BPS spectrum</a>
        <br/><img src="static/AD_from_pure_SU_3.png" height=200 width=200>
        <li><a href="{{ url_for('plot') }}?data=AD_from_pure_SU_3_after_wc">An Argyres-Douglas fixed point theory from pure \(\mathrm{SU}(3)\) gauge theory, with the maximal BPS spectrum</a>
        <br/><img src="static/AD_from_pure_SU_3_after_wc.png" height=200 width=200>
        <li><a href="{{ url_for('plot') }}?data=pure_SO_6">Pure \(\mathrm{SO}(6)\) gauge theory at the origin of the Coulomb branch</a>
        <br/><img src="static/pure_SO_6.png" height=200 width=200>
        <li><a href="{{ url_for('plot') }}?data=pure_SO_8">Pure \(\mathrm{SO}(8)\) gauge theory at the origin of the Coulomb branch</a>
        <br/><img src="static/pure_SO_8.png" height=200 width=200>
        <li><a href="{{ url_for('plot') }}?data=pure_E_6">Pure \(\mathrm{E}_6\) gauge theory at the origin of the Coulomb branch</a>
        <br/><img src="static/pure_E_6.png" height=200 width=200>
        <li><a href="{{ url_for('plot') }}?data=D_4_AD_from_SO_8_min_BPS">An Argyres-Douglas fixed point theory from pure \(\mathrm{SO}(8)\) gauge theory, with the minimal BPS spectrum</a>
        <br/><img src="static/D_4_AD_from_SO_8_min_BPS.png" height=200 width=200>
        <li><a href="{{ url_for('plot') }}?data=D_4_AD_from_SO_8_max_BPS_sym">An Argyres-Douglas fixed point theory from pure \(\mathrm{SO}(8)\) gauge theory, with the maximal and symmetric BPS spectrum</a>
        <br/><img src="static/D_4_AD_from_SO_8_max_BPS_sym.png" height=200 width=200>
    </ul>
    </ul>
    </ul>
</div>
{% endblock %}
