{% extends "layout.html" %}
{% block body %}
<div style="width:800px; margin:20px 20px 20px 20px">
    <p>loom front page</p>
    <p>This web page dynamically generates a spectral network in a representation of \(\mathfrak{g} = A_n, D_n, E_6\), or \(E_7\). For more detail, see
        <ul>
            <li> <a href=http://arxiv.org/abs/arXiv:1204.4824>Spectral networks [Gaiotto-Moore-Neitzke (2012)</a>
        </ul>
    </p>

    <h2>How to use loom</h2>
    <ul>
        <li>Go to the <a href="{{ url_for('config') }}">configuration page</a>
            to generate spectral networks.</li>
    </ul>

    <h2>Examples</h2>
    <ul>
        <li><a href="{{ url_for('plot') }}?data=pure_SU_2">Spectral networks of pure SU(2) gauge theory at the origin of the Coulomb branch</a>
        <br/><img src="static/pure_SU_2.png" height=200 width=200>
    </ul>
</div>
{% endblock %}
