{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container">
    <h2>Load data</h2>
{% if process_uuid %}
    {% include "logging.html" %}
{% elif data_names %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
    <select name="data_name">
        {% for data_name in data_names %}
            <option value="{{ data_name }}">{{ data_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn-default"
     id="show_config_button"
     formaction="{{ url_for('config') }}"
     value="Show configuration">
    <input type="submit" class="btn btn-default"
     id="plot_data_button"
     formaction="{{ url_for('progress') }}"
     value="Plot data">
    <input type="hidden" name="n_processes" value="{{ n_processes }}">
    <input type="hidden" name="saved_data" value="True">
    <input type="radio" name="task" value="load" checked>Spectral networks
    <input type="radio" name="task"
     value="plot_two_way_streets">Two-way streets
    </form>
{% endif %}
</div>
<br/>
{% endblock %}
