{% extends "layout.html" %}
{% block head %}
    <link 
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css"
        rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js">
    </script>
    {{ plot_script|safe }}
{% endblock %}
{% block body %}
<!--<div style="width:900px; margin:20px; padding:10px; 
            border:1px solid black;">-->
<div class="container">
    <h2>Plot</h2>
    {{ plot_div|safe }}
    <form class="form-inline" id="download_form" method="post">
        <input type="hidden" value="{{ process_uuid }}">
        <div class="form-group">
            <input type="submit" class="btn btn-default"
             id="download_data_button" value="Download data"
             formaction="{{ download_data_url }}">
            <input type="submit" class="btn btn-default"
             id="download_plot_button" value="Download plot"
             formaction="{{ download_plot_url }}">
        </div>
    </form>
</div>
<div style="width:800px; margin:20px 20px 20px 20px">
    <textarea rows="24" cols="80">
    {{ plot_legend|safe }}
    </textarea>
</div>
{% endblock %}
