{% extends "layout.html" %}
{% block head %}
    <link 
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css"
        rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js">
    </script>

    <script>
    {{ bokeh_custom_script | safe }}
    </script>

    {{ bokeh_plot_script | safe }}

{% endblock %}
{% block body %}

<div class="container">
    <h2>Plot</h2>
    <ul style="width:800px;">
        <li>Place the mouse cursor onto an arrow, a cross, or a circle 
            to display the information of the \(\mathcal{S}\)-wall,
            the branch point, or the puncture, respectively.</li>
        <li>Weights and roots are shown in an orthonomal basis.</li>
        <li>Use the mouse wheel to zoom in or out the plot, 
            drag the plot to move it.</li>
    </ul>
    <div class="row">
        <div class="col-md-9" style="width:800px; margin:10px;">
{{ div['plot']|safe }}
        </div>
        <div class="col-md-2" style="padding-top:80px;">
            <p id="initial_phase" hidden>{{ initial_phase }}</p>
            <h3>\(\theta = (\)<span id="phase"></span>\()\pi\)</h3>
{{ div['redraw_arrows_button']|safe }}
{{ div['show_data_points_button']|safe }}
{{ div['hide_data_points_button']|safe }}
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("phase").innerHTML = document.getElementById("initial_phase").innerHTML;
    </script>
</div>
<div class="container">
{% if download_data_url %}
    <form class="form-inline" id="download_form" method="post">
        <input type="hidden" value="{{ process_uuid }}">
        <div class="form-group">
            <input type="submit" class="btn btn-default"
             id="download_data_button" value="Download data"
             formaction="{{ download_data_url }}">
            <input type="submit" class="btn btn-default"
             id="download_plot_button" value="Download plot"
             formaction="{{ download_plot_url }}">
        </div>
    </form>
    <br/>
{% endif %}
    <textarea rows="24" cols="80">
{{ plot_legend|safe }}
    </textarea>
{% include "config_form.html" %}
</div>
{% endblock %}
