{% extends "layout.html" %}
{% block head %}
    <link 
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css"
        rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js">
    </script>

    <script>
    {{ bokeh_custom_script | safe }}
    </script>

    {{ bokeh_plot_script | safe }}
{% endblock %}
{% block body %}
<div class="container">
    <h2>Plot</h2>
    <p>Please visit <a href="http://github.com/chan-y-park/loom/blob/master/README.md#plot-page" target="_blank">the how-to page</a> for help.</p>
    <ul style="width:800px;">
        <li>Place the mouse cursor onto an arrow, a cross, or a circle 
            to display the information of the \(\mathcal{S}\)-wall,
            the branch point, or the puncture, respectively.</li>
        <li>Weights and roots are shown in an orthonomal basis.</li>
        <li>Use the mouse wheel to zoom in or out the plot, 
            drag the plot to move it.</li>
    </ul>
    <div class="row">
        <div class="col-md-9" style="width:800px; margin:10px;">
{{ div['plot']|safe }}
        </div>
        <div class="col-md-2" style="padding-top:80px;">
            <p id="initial_phase" hidden>{{ initial_phase }}</p>
            <h3>\(\theta = (\)<span id="phase"></span>\()\pi\)</h3>
{{ div['redraw_arrows_button']|safe }}
{{ div['show_data_points_button']|safe }}
{{ div['hide_data_points_button']|safe }}
{% if download == 'False' %}
            <form class="form-inline" action="{{ url_for('plot') }}"
             method="post">
                <input type="hidden" name="process_uuid" 
                 value="{{ process_uuid }}">
                <input type="hidden" name="saved_data"
                 value="{{ saved_data }}">
                <input type="hidden" name="progress_log" value="">
                <input type="hidden" name="n_processes"
                 value="{{ n_processes }}">
                <input type="hidden" name="rotate_back"
                 value="True">
                <input type="submit" class="btn btn-default"
                 value="Rotate back">
            </form>
{% endif %}
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("phase").innerHTML = document.getElementById("initial_phase").innerHTML;
    </script>
</div>
{% if download == 'False' %}
<div class="container">
    <div class="col-xs-8" style="border:1px solid Gray; border-radius: 10px;">
        <h4>Extend spectral networks</h4>
        <form class="form-horizontal" action="{{ url_for('config')}}"
         method="post">
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">
                        Additional steps
                    </label>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control"
                     name="additional_n_steps" value="">
                </div>
                <div class="col-xs-3">
                    <label class="control-label">
                        New mass limit 
                    </label>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control"
                     name="new_mass_limit"
                     value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <label class="control-label">
                        Additional iterations
                    </label>
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control"
                     name="additional_iterations" value="">
                </div>
                <div class="col-xs-3">
                    <label class="control-label">
                        Additional phases 
                    </label>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control"
                     name="additional_phases" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-1">
                    <input type="submit" class="btn btn-default"
                     id="extend_button" value="Extend">
                </div>
            </div>
            <input type="hidden" name="process_uuid" 
             value="{{ process_uuid }}">
            <input type="hidden" name="saved_data"
             value="{{ saved_data }}">
            <input type="hidden" name="n_processes" value="{{ n_processes }}">
        </form>
    </div>
</div>
<br/>
<div class="container">
    <div class="col-xs-8" style="border:1px solid Gray; border-radius: 10px;">
        <h4>Save data</h4>
        <form class="form-horizontal" id="save_data_to_server_form"
         method="post">
            <div class="form-group">
                <div class="col-xs-3">
                    <label for="data_name_text" class="control-label">
                        Save data to server as
                    </label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control"
                     name="data_name" id="data_name_text"
                     value="{{ process_uuid }}">
                </div>
                <div class="col-xs-2">
                    <input type="submit" class="btn btn-default"
                     id="save_data_to_server_button" value="Save">
                </div>
            </div>
            <input type="hidden" name="process_uuid"
             value="{{ process_uuid }}">
            <input type="hidden" name="saved_data"
             value="{{ saved_data }}">
        </form>
     
        <script>
            var save_data_to_server_form = 
                document.getElementById("save_data_to_server_form");
            save_data_to_server_form.onsubmit = function () {
                var w = window.open(
                    "about:blank",
                    "save_data_to_server_window",
                    "toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0," +
                    "resizable=0,width=600,height=200"
                );
                save_data_to_server_form.action =
                    "{{ url_for('save_data_to_server') }}";
                save_data_to_server_form.target = "save_data_to_server_window";
                save_data_to_server_form.submit();
            };
        </script>

        <form class="form-inline" id="download_form" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default"
                 id="download_data_button" value="Download data"
                 formaction="{{ url_for('download_data') }}">
                <input type="submit" class="btn btn-default"
                 id="download_plot_button" value="Download plot"
                 formaction="{{ url_for('download_plot') }}">
                <input type="hidden" name="process_uuid" 
                 value="{{ process_uuid }}">
                <input type="hidden" name="saved_data"
                 value="{{ saved_data }}">
            </div>
        </form>
        <br/>
    </div>
</div>
<br/>
<div class="container">
    <div class="col-xs-8" style="border:1px solid Gray; border-radius: 10px;">
        <h4>Find two-way streets</h4>
        <form class="form-horizontal" action="{{ url_for('plot') }}"
         method="post">
            <div class="form-group">
                <div class="col-xs-3">
                    <label for="search_radius_text" class="control-label">
                       Search radius 
                    </label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control"
                     name="search_radius" id="search_radius_text"
                     value="">
                </div>
                <div class="col-xs-2">
                    <input type="submit" class="btn btn-default"
                     value="Plot two-way streets">
                </div>
            </div>
            <input type="hidden" name="process_uuid" 
             value="{{ process_uuid }}">
            <input type="hidden" name="saved_data"
             value="{{ saved_data }}">
            <input type="hidden" name="progress_log" value="">
            <input type="hidden" name="n_processes"
             value="{{ n_processes }}">
            <input type="hidden" name="plot_two_way_streets"
             value="True">
        </form>
    </div>
</div>

{% endif %}
<div class="container">
    <h2>Plot Information</h2>
    <textarea rows="24" cols="80">
{{ plot_legend|safe }}
    </textarea>

{% if progress_log %}
    <h2>Log</h2>
    <textarea rows="24" cols="80">
{{ progress_log|safe }}
    </textarea>
{% endif %}

{% include "config_form.html" %}
</div>
{% endblock %}
