{% extends "layout.html" %}
{% block head %}
<style>
    #data {
        text-align: center;
    }
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock %}
{% block body %}
    <form method="post">
    <!--<input type="hidden" name="process_uuid" value="{{ process_uuid }}">-->
    <div id="data">Showing progress...</div>
{% for message in progress: %}
    <script>
        $("#data").text("{{ message|safe }}")
    </script>
    {{ message|safe}}
{% endfor %}
    </form>
{% endblock %}
